/** {
    box-sizing: border-box;
  }*/

header {display: flex; /*flex-wrap: wrap;*/ background-color:  lightgray; 
    justify-content: space-between; border-bottom: solid; border-bottom-color: rgba(255, 92, 80, 0.912); border-bottom-width: 3px; align-items: center;}

h1 {display: flex; margin-left: 0; border: solid; border-color: #fff; border-width: 3px; 
    padding: 1%; font-family: cursive; font-size: 300%; color: white; background-color: grey; text-align: center;}

nav { /*border: solid; border-color: red; border-width: 3px;*/ padding-top: 40px; padding-right: 25px; padding-left: 25px; min-width: 35%;}

ul {list-style-type: none; display: flex; flex-wrap: wrap; justify-content: space-evenly; margin: 0; }

li {/*display: inline-flex;*/ padding: 5%;}

body {background-color: #fff}

banner {display: flex;
    width: 100%; height: 100%;}

h2 {color: #fff; font-family: cursive; /*display: flex; flex-wrap: wrap; justify-content: center;*/ padding-top: 7%; padding-left: 75%;}

.background-pic {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(/portfolio/assets/images/pexels-artem-podrez-7233099.jpg);
    background-size: cover;
    background-position: center;
}

img {width: 100%;}



.about-me {display: flex; flex-wrap: wrap; background-color:  #fff; 
    justify-content: center; border: solid; border-color: white; border-width: 15px;}

.heading {display: inline-flex; margin-right: 2px; border-right: solid; border-right-color: grey; border-width: 3px; padding-right: 1%; width: 15%; justify-content: right; padding-top: 5%;}    

.bio { /*border: solid; border-color: red; border-width: 3px;*/ display: flex; padding-top: 40px; padding-right: 25px; padding-left: 25px; width: 75%; justify-content: space-between;}
/*.contact-list {float: right; }*/

#sarah-pic {width: 50%; min-width: 300px;}

/*p {max-width: 50%}*/

/*.bio-para {display: inline-flexbox;}*/

/*.bio-para {display: flex; flex-direction: column;}*/

/*.bio-para {padding: 10px; width: 50%; flex: 500px 0; border: solid; border-width: 2px; border-color: lightgrey; margin: 10px; }*/

.work {display: flex; flex-wrap: wrap; background-color:  #fff; 
    justify-content: center; border: solid; border-color: white; border-width: 15px; margin-top: 20px; margin-bottom: 20px;}

.contact {display: flex; flex-wrap: wrap; background-color:  #fff; 
        justify-content: center; border: solid; border-color: white; border-width: 15px;}

.port { /*border: solid; border-color: red; border-width: 3px;*/ display: flex; flex-wrap: wrap; padding-right: 25px; padding-left: 25px; width: 75%; justify-content: center;}
    /*.contact-list {float: right; }*/

.contact-list {display: inline-block; flex-wrap: wrap; padding-top: 40px; padding-right: 25px; padding-left: 25px; width: 75%; justify-content: right;}

.port-img {padding: 10px; width: 50%; flex: 0 0 500px; border: solid; 
  border-width: 2px; border-color: lightgrey; margin: 10px; background-color: lightblue;}

#img1 {background-color: lightgrey}

#img2 {background-color: rgb(177, 234, 255);}

#img5 {background-color: rgba(253, 154, 147, 0.912);}

#img4 {background-color: lightgrey;}

.main-port-img {padding: 10px; width: 80%; border: solid; 
  border-width: 2px; border-color: lightgrey; margin: 10px; min-width: 500px;}

 h4 {color: black; float: right; } 

 a {text-decoration: none; color: black; }

 a:hover {color:rgba(255, 92, 80, 0.912); font-size: large; font-weight: bold;}

  
  /*background-image: url(/portfolio/assets/images/pexels-scott-webb-311458.jpg);
  background-size: cover;
  background-position: center;
  min-height: 200px; 
  min-width: 900px;*/


/*.main-port-img {
  height: 200px;
  width: 100%;
  margin-bottom: 25px;
  background-image: url(/portfolio/assets/images/pexels-scott-webb-311458.jpg);
  background-size: cover;
  background-position: center;}*/



/*h4 {box-sizing: content-box; width: 100%; border: solid #5B6DCD 10px; padding: 5px;}*/
/*h4 {font-size: medium; position: absolute; top: 200px; left: 900px;}*/
/*ul .contact-items {list-style-type: none; display: flex; flex-wrap: wrap; justify-content: space-evenly; margin: 0; }*/

/*.contact-items li {display: inline-block; padding: 5%; text-decoration: underline; justify-items: right;}*/

/*#img1 {width: ;}*/

/*footer {display: flex; flex-wrap: wrap; background-color:  lightgray; 
    justify-content: space-between; /*border: solid; border-color: black; border-width: 3px;*/

@media screen and (max-width: 768px) {
        header, nav, .bio, .contact-items {
          flex-direction: column;  
        } }

@media screen and (max-width: 768px) {
          .heading {
            border: none; padding: none; justify-content: center;
          } }

@media screen and (max-width: 768px) {
            h4 {
              float: none; text-align: center;
            } }

@media screen and (max-width: 768px) {
              h2 {
                text-align: center; padding-left: 60px; 
              } }

@media screen and (max-width: 768px) {
                h3 {
                  text-align: center; 
                } }         
                
@media screen and (max-width: 768px) {
                  li {
                    justify-items: center; text-align: center;
                  } }                    
/* Tablets - header changes color */
/*@media screen and (max-width: 992px) {
    header {
      background: #772014;
    }
  }*/
  
  /* Large smartphones - navbar changes color */
  /*@media screen and (max-width: 768px) {
    nav {
      background-color: #bb8588;
    }
  }*/
  
  /* Small smartphones - image placeholders change color */
  /*@media screen and (max-width: 576px) {
    .sample-img {
      background-color: #8ac4ff;
    }
  }*/       