header {display: flex; /*flex-wrap: wrap;*/ background-color:  lightgray; 
    justify-content: space-between; border-bottom: solid; border-bottom-color: rgba(255, 92, 80, 0.912); border-bottom-width: 3px; align-items: center;}

h1 {display: flex; margin-left: 0; border: solid; border-color: #fff; border-width: 3px; 
    padding: 1%; font-family: cursive; font-size: 300%; color: white; background-color: grey; text-align: center;}

nav { /*border: solid; border-color: red; border-width: 3px;*/ padding-top: 40px; padding-right: 25px; padding-left: 25px; min-width: 35%;}

ul {list-style-type: none; display: flex; flex-wrap: wrap; justify-content: space-evenly; margin: 0; }

li {display: inline-block; padding: 5%; text-decoration: underline;}

body {background-color: #fff}

banner {display: flex;
    width: 100%; height: 100%;}

.background-pic {
    height: 200px;
    width: 100%;
    margin-bottom: 25px;
    background-image: url(/portfolio/assets/images/pexels-artem-podrez-7233099.jpg);
    background-size: cover;
    background-position: center;
}

img {width: 100%;}



.about-me {display: flex; flex-wrap: wrap; background-color:  #fff; 
    justify-content: center; border: solid; border-color: white; border-width: 15px;}

.heading {display: inline-flex; margin-right: 2px; border-right: solid; border-right-color: grey; border-width: 3px; padding-right: 1%; width: 15%; justify-content: right; padding-top: 5%;}    

.bio { /*border: solid; border-color: red; border-width: 3px;*/ display: flex; padding-top: 40px; padding-right: 25px; padding-left: 25px; width: 75%; justify-content: space-between;}
/*.contact-list {float: right; }*/

#sarah-pic {width: 25%; min-width: 300px;}

/*p {max-width: 50%}*/

/*.bio-para {display: inline-flexbox;}*/

/*.bio-para {display: flex; flex-direction: column;}*/

/*.bio-para {padding: 10px; width: 50%; flex: 500px 0; border: solid; border-width: 2px; border-color: lightgrey; margin: 10px; }*/

.work {display: flex; flex-wrap: wrap; background-color:  #fff; 
    justify-content: center; border: solid; border-color: white; border-width: 15px;}

.contact {display: flex; background-color:  #fff; 
        justify-content: center; border: solid; border-color: white; border-width: 15px;}

.port { /*border: solid; border-color: red; border-width: 3px;*/ display: flex; flex-wrap: wrap; padding-right: 25px; padding-left: 25px; width: 75%; justify-content: center;}
    /*.contact-list {float: right; }*/

.contact-list {display: inline-block; flex-wrap: wrap; padding-top: 40px; padding-right: 25px; padding-left: 25px; width: 75%; justify-content: right;}

.port-img {padding: 10px; width: 50%; flex: 0 0 500px; border: solid; border-width: 2px; border-color: lightgrey; margin: 10px; }

/*ul .contact-items {list-style-type: none; display: flex; flex-wrap: wrap; justify-content: space-evenly; margin: 0; }*/

.contact-items li {display: inline-block; padding: 5%; text-decoration: underline; justify-items: right;}

/*#img1 {width: ;}*/

/*footer {display: flex; flex-wrap: wrap; background-color:  lightgray; 
    justify-content: space-between; /*border: solid; border-color: black; border-width: 3px;*/

    @media screen and (max-width: 768px) {
        header, nav, .bio {
          flex-direction: column;
        }    